<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div id="inspo">
        <h1 style="float:left">Read up on some interesting resources!</h1>
      </div>
      <div id="user">
          <a href="">PS</a>
      </div>
    </div>
    <div id="main_body">
      <div id="main_table">
        <table rules=none>
          <tr id="tablehead">
            <th>WORLDVIEW</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
          </tr> 
          <tr>
            <td>Post-Modernism</td>
            <td>Does Postmodernism Really Entail a Disregard for the Truth?</td>
            <td>Similarities and Differences in Postmodern and Critical Rationalist Conceptualizations of Truth, Progress, and Empirical Research Methods</td>
          </tr>
          <tr>
            <td>Modernism</td>
            <td>Modernism: the idea that just won't go away</td>
            <td>The British reviled modernism at first, now it's part of the fabric of our nation. The largest ever survey of the movement suggests the defining aesthetic of the 20th century may be just as influential in the 21st</td>
          </tr>
          <tr>
            <td>Naturalism</td>
            <td>What Is Naturalism?
            </td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>Post-Modernism</td>
            <td>Does Postmodernism Really Entail a Disregard for the Truth?</td>
            <td>Similarities and Differences in Postmodern and Critical Rationalist Conceptualizations of Truth, Progress, and Empirical Research Methods</td>
          </tr>
          <tr>
            <td>Modernism</td>
            <td>Modernism: the idea that just won't go away</td>
            <td>The British reviled modernism at first, now it's part of the fabric of our nation. The largest ever survey of the movement suggests the defining aesthetic of the 20th century may be just as influential in the 21st</td>
          </tr>
          <tr>
            <td>Naturalism</td>
            <td>What Is Naturalism?
            </td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>Post-Modernism</td>
            <td>Does Postmodernism Really Entail a Disregard for the Truth?</td>
            <td>Similarities and Differences in Postmodern and Critical Rationalist Conceptualizations of Truth, Progress, and Empirical Research Methods</td>
          </tr>
          <tr>
            <td>Modernism</td>
            <td>Modernism: the idea that just won't go away</td>
            <td>The British reviled modernism at first, now it's part of the fabric of our nation. The largest ever survey of the movement suggests the defining aesthetic of the 20th century may be just as influential in the 21st</td>
          </tr>
          <tr>
            <td>Naturalism</td>
            <td>What Is Naturalism?
            </td>
            <td>N/A</td>
          </tr>
        </table>
      </div>
      <div id="image">
        <div>
          <!-- depending on what item is clicked, this image should change -->
          
        </div>
      </div>
    </div>
  </body>
</html>
